<h1>
Player One: <%= @player_one %> vs Player Two: <%= @player_two %>
</h1>
<h2> 
<%= @player_one %> Hit Points: <%= $player_one.hit_points %>
<%= @player_two %> Hit Points: <%= $player_two.hit_points %>
</h2>
<form action='/attack' method="post">
<input type="submit" value="Player One Attack">
</form>
<br>
<% if @attack == true %>
<h3><%= @player_one %> attacks <%= @player_two %></h3>
<% end %>
